/*------------------------------------*\
  #Shared
\*------------------------------------*/

// Here we set a variable assuming that defaults settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.

$wocss-settings-defaults: false !default;

@if ($wocss-settings-defaults == false) {
  @warn "Oops! Have you included the wocss-settings-defaults module?"
};





// shared margin bottom

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: $base-spacing-unit;
}





// shared margin left

ul, ol, dd {
  margin-left: 2 * $base-spacing-unit;
}
